:root {
	--primary-color: #ac4242;
	--secondary-color: #181818;
	--tertiary-color: #f0f0f0;
}

body {
	background-color: var(--secondary-color);
	color: var(--tertiary-color);
	font-family: 'Courier New', Courier, monospace;
	margin: 0;
	padding: 0;
	font-size: 20px;
	line-height: 2;
}

#home {
	cursor: pointer;
}

h1,
h2,
h3,
strong {
	color: var(--primary-color);
}

pre {
	background-color: var(--secondary-color);
	color: var(--tertiary-color);
	padding: 10px;
	border-radius: 5px;
	overflow-x: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
}

nav {
	display: flex;
	flex-direction: row;
	padding: 0 auto;
	justify-content: space-around;
}

.nav-links {
	cursor: pointer;
	margin-left: 10%;
	margin-right: 10%;
}

#next,
#prev {
	background-color: var(--secondary-color);
	border: 1px solid var(--tertiary-color);
	color: var(--tertiary-color);
	padding: 10px;
	cursor: pointer;
	margin: 5px;
}

#next:hover,
#prev:hover {
	background-color: var(--tertiary-color);
	color: var(--secondary-color);
}

.pgButtons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

#lesson {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	margin: 10px;
	width: 100%;
	box-sizing: border-box;
}

a {
	color: #ac4242;
	word-wrap: break-word;
}

a:active {
	color: #819751;
}

.LessonWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.Page {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

footer {
	text-align: center;
	padding: 10px;
}

#Banner {
	color: var(--tertiary-color);
	padding: 10px;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#Logo {
	width: 40%;
	height: 80%;
}

@media screen and (max-width: 600px) {
	body {
		font-size: 20px;
	}

	h1 {
		font-size: 1.8em;
	}

	h2 {
		font-size: 1.5em;
	}

	nav {
		display: flex;
		flex-direction: row;
		padding-left: 10px;

	}

	.nav-links {
		margin-bottom: 30px;
	}

	#next,
	#prev {
		width: 70%;
	}

	.pgButtons {
		flex-direction: column;
	}

	.Page {
		padding: 0 10px;
	}

	#Banner {
		display: flex;
		flex-direction: column;
		align-items: first baseline;
	}
}
