package templates

templ Lessons(fullpage bool, content string, prevUrl string, nextUrl string) {
if fullpage == true {
@Base() {
@LessonComponent(content, prevUrl, nextUrl)
}
} else {
@LessonComponent(content, prevUrl, nextUrl)
}
}
